﻿@model Examen.Models.Bestelling

@{
    ViewBag.Title = "Details";
}
@*details bestelling*@
<h2>Details</h2>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeBereidingConsumptie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeBereidingConsumptie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptieItem.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptieItem.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservering.Betalingswijze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservering.Betalingswijze)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
