﻿@model IEnumerable<Examen.Models.Bestelling>

@{
    ViewBag.Title = "Index";
}
@*overzicht bestellingen*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            Bestellings tijd
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            Consumptie naam
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservering.Betalingswijze)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeBereidingConsumptie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservering.Betalingswijze)
            </td>
            <td>
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.ID }, new { @class = "button" })
                @Html.ActionLink("Bekijk", "Details", new { id = item.ID }, new { @class = "button" })
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.ID }, new { @class = "button" })
            </td>
        </tr>
    }

</table>
