﻿@model IEnumerable<Examen.Models.Bestelling>

@{
    ViewBag.Title = "ChefKok";
}
@*overzicht voor de chefkok*@
<h2>ChefKok</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            Bereidingstijd
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumptieItem.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservering.Tafel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeBereidingConsumptie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservering.Tafel)
            </td>
        </tr>
    }

</table>
