﻿@model Examen.Models.ConsumptieItem

@{
    ViewBag.Title = "Details";
}
@*details van item consumptie*@
<h2>Details</h2>

<div>
    <h4>ConsumptieItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptieGroep.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptieGroep.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
