﻿@model IEnumerable<Examen.Models.ConsumptieItem>

@{
    ViewBag.Title = "MenuKaart";
    var oldCode = "";
    var dranken = "Dranken";
    int i = 0;
}

<br /><br /><br />
<h2>Excellent Taste Dranken en Hapjeskaart</h2>
<br /><br />
<br /><br />
<div class="table">
@foreach (var item in Model) {
    if (i == 0)
        {

        oldCode = item.ConsumptieGroep.Naam;
        i++;
        <h3>@item.ConsumptieGroep.Consumptie.Naam</h3>
        <b>@item.ConsumptieGroep.Naam</b><br /><br />
    }
    if(dranken != item.ConsumptieGroep.Consumptie.Naam)
        {
        dranken = item.ConsumptieGroep.Consumptie.Naam;
            <h3>@item.ConsumptieGroep.Consumptie.Naam</h3>
        }
    if (oldCode != item.ConsumptieGroep.Naam)
    {
        {oldCode = item.ConsumptieGroep.Naam;
        }
      <br /><br /><b>@item.ConsumptieGroep.Naam</b><br /><br />
        }
    <div>     
        <label>
            @Html.DisplayFor(modelItem => item.Naam)
        </label>
        <label>
            @Html.DisplayFor(modelItem => item.Prijs)
        </label>
    </div>
}

</div>
<a href="javascript:window.print()">Print het menu</a>
