﻿@model IEnumerable<Examen.Models.Klant>

@{
    ViewBag.Title = "Index";
}
@*overzicht klanten*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*klant aanpassen, details laten zien en klanten verwijderen*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "button" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "button" })
        </td>
    </tr>
    }

</table>
