﻿@model IEnumerable<Examen.Models.ConsumptieGroep>

@{
    ViewBag.Title = "Index";
}
@*overzicht groep consumpties*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumptie.Naam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumptie.Naam)
            </td>
            <td>
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.Code }, new { @class = "button" })
                @Html.ActionLink("Bekijk", "Details", new { id = item.Code }, new { @class = "button" })
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Code }, new { @class = "button" })
            </td>
        </tr>
    }

</table>
