﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black;">
    <h1 style="font-size:58px;"><img src="~/Content/Images/download.png" style="height:75%;"<p style="font-size: 20px;">Voor het lekkerste avondje uit!</p> </h1>


</div>
@*hier staan de openingstijden*@
<div class="row">
    <div class="col-md-4">
        <h2>Openingstijden</h2>
        <p>
            Maandag: 10:00 t/m 22:00 <br />
            Dinsdag: 10:00 t/m 22:00<br />
            Woensdag: 10:00 t/m 22:00<br />
            Donderdag 11:00 t/m 22:00<br />
            Vrijdag: 10:00 t/m 23:00 <br />
            Zaterdag: 12:00 t/m 00:00 <br />
            Zondag: 16:00 t/m 23:00
        </p>

    </div>
    @*hier staan de contactgegevens*@
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Sloterweg 259<br />
            1171CP Badhoevendorp<br />
            06-82384756
        </p>

    </div>
    <div class="col-md-4">
        @*informatie restaurant*@
        <h2>Wat?</h2>
        <p>
            Excellent taste heeft de beste gerechten in huis! <br />
            Kom hier een keer proeven hoe onze chef koks u verassen.<br />
            Wij zijn erg flexibel en bedenken elke dag een ander bijgerecht!<br />
            Kom snel langs en begin je lekkerste avondje uit bij Excellent Taste!
        </p>

    </div>
</div>