﻿/* css voor de site */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* dit is de style voor onze buttons*/
.button {
    transition: 0.5s all;
    border-radius: 10px;
    /*width: 150px!important;*/
    height: 40px;
    background: black;
    color: #CFB53B;
    text-decoration: none !important;
    padding: 5px;
}

    .button:hover {
        color: black;
        background: #CFB53B;
        border-color: #CFB53B;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Body word hier style aangegeven*/
body {
    background-color: #363636;
    color: #CFB53B;
}
/*de tabellen worden hier style aangegeven*/
td{
    border-top: 0 !important;
    border-bottom: 0 !important;
}
th{
    border-top: 1px solid #565656 !important;
    border-bottom: 1px solid #565656 !important;
}
table{
    border-top: 0 !important;
}
/*Hier word de css weergeven voor de navbar!*/
.navbar-inverse a {
    opacity: 1;
    position: relative;
    padding: 0;
}
.navbar-inverse {
    background-color: #565656;
}

    .navbar-inverse a {
        color: #CFB53B !important;
    }
    /* Navbar*/
@media (min-width: 992px) {
    .navbar-header ul, .navbar-header form {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .navbar-inverse li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav > li > a {
        padding: 1em 1em;
    }

    .navbar-inverse a::before,
    .navbar-inverse a::after {
        content: '';
        display: block;
        height: 5px;
        background: #CFB53B;
        position: absolute;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 400ms
    }

    .navbar-inverse a::before {
        top: -.5em;
        transform-origin: left;
    }

    .navbar-inverse a::after {
        bottom: -.5em;
        transform-origin: right;
    }

    .navbar-inverse a:hover::before,
    .navbar-inverse a:hover::after {
        transform: scale(1, 1);
    }
}
/* hier word de footer gestyled*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    font-size: 1.4em;
}