﻿@model IEnumerable<Examen.Models.Bestelling>

@{
    ViewBag.Title = "Bon";
    double totalPrice = 0;
    int TableNumber = 0;
}
@*Hier word de bon gemaakt om vervolgens uit te kunnen printen. hij word eerst omgezet naar pdf en daarna kan je hem printen. *@
<br />
<br />
<br />
<p>Tafel: @ViewBag.Table</p>
<p>Datum: @DateTime.Now.ToString("dd/MM/yyyy")</p>
<p>Tijd: @DateTime.Now.ToString("HH/mm")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumptieItem.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        totalPrice = item.Prijs + totalPrice;
        TableNumber = item.Reservering.Tafel;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.Naam)
            </td>
            <td>
                @{var individueeleKosten = item.Prijs / item.Aantal; }  @individueeleKosten

            </td>
        </tr>
    }

</table>
<p>Totale prijs: @totalPrice</p>
<p>BTW 9%: @{ var total = totalPrice / 106 * 9; } @total</p>
<p>Netto: @{var netto = totalPrice - total;} @netto</p>
<p>Wij danken u hartelijk voor uw bezoek</p>
<p>Graag tot ziens bij Excellent Taste</p>
<a href="javascript:window.print()">Print de bon</a>



