﻿@model Examen.Models.Reservering

@{
    ViewBag.Title = "Details";
}
@*details reserveergegevens*@
<h2>Details</h2>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tafel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tafel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalPersonen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalPersonen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumToegevoegd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumToegevoegd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Betalingswijze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betalingswijze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
