﻿@model IEnumerable<Examen.Models.Reservering>

@{
    ViewBag.Title = "Index";
    string data = "";
    if (TempData[data] != null)
    {
        <script>alert("De klant is eerder niet gekomen.");</script>
    }
    

}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tafel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalPersonen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumToegevoegd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Betalingswijze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tafel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                <label>@item.Status</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumToegevoegd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betalingswijze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klant.Naam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button" })
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.ID }, new { @class = "button" })
                @Html.ActionLink("Bon", "Bon", new { id = item.ID }, new { @class = "button" })
            </td>
        </tr>
    }

</table>
@ViewBag.Alert