﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="~/Content/Images/favicon.ico"/>
    <title>Excellent Taste</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <img alt="Widget View" src="@Url.Content("~/content/images/favicon.png")">
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Nieuwe bestelling", "Create", "Bestellings")</li>
                        <li>@Html.ActionLink("Barman", "Barman", "ConsumptieItems")</li>
                        <li>@Html.ActionLink("Chef kok", "ChefKok", "ConsumptieItems")</li>
                        <li>@Html.ActionLink("ConsumptieItems", "index", "ConsumptieItems")</li>
                        <li>@Html.ActionLink("ConsumptieGroep", "Index", "ConsumptieGroeps")</li>
                        <li>@Html.ActionLink("Consumptie", "Index", "Consumpties")</li>
                        <li>@Html.ActionLink("MenuKaart", "MenuKaart", "ConsumptieItems")</li>
                        <li>@Html.ActionLink("Reservering", "Index", "Reserverings")</li>
                        <li>@Html.ActionLink("Klant", "Index", "Klants")</li>
                        @Html.Partial("_LoginPartial")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </ul>           
            </div>
        </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
